{% load static %}
<html>
    <head>
        <title>Blog Django Girls</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{%static 'css/blog.css'%}">

    </head>

    <h1 style="color: green;">ESSSA É A BASE OQ TA DENTRO DO BLOCK CONTENT TA DEFINIDO EM POSTLIST</h1>
     {% block content %}
     
    {% endblock %}
     </html>